@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #fffff7;
  font-weight: bolder;
}

i {
  cursor: pointer;
}

.logo {
  width: 70px;
  height: 50px;
  border-radius: 15px;
  margin-top: -15px;
}

ul {
  list-style: none;
}

.contenedor {
  height: 60px;
  width: 95%;
  margin: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  height: 60px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li {
  padding: 20px;
}

.nav ul li:hover {
  text-decoration: underline;
}

.seccion-primera {
  height: 550px;
  background: url(../img/impresion3d.jpeg) no-repeat center center/cover;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.text-color {
  background-color: #000000;
  text-align: center;
}

.buttonInicio {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #000000;
}

.buttonInicio:hover {
  -webkit-animation: pulsate 1s ease-in-out;
          animation: pulsate 1s ease-in-out;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
            box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

@keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
            box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

.carrousel {
  width: 70%;
}

.piezasImpresas {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.parrafoPiezas {
  padding: 10px;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 2;
}

.linkForm {
  text-decoration: underline;
  color: #e48e0d;
}

.linkForm:hover {
  color: #f5b33a;
}

.piezaFilamento {
  width: 590px;
  height: 287px;
  padding: 20px;
}

.tituloPiezas {
  margin: 50px 0px 0px 30px;
  text-align: center;
}

.tituloPiezas2 {
  text-align: center;
}

.tituloPiezas3 {
  text-align: center;
}

.carousel {
  margin: 30px 0px;
}

.tituloCard {
  text-align: center;
  font-weight: bold;
}

.precioCard {
  text-align: center;
  font-weight: bold;
}

.botonCard {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.botonCard:hover {
  background-color: #000000;
}

.imagenCard {
  padding: 10px;
}

.imagenCard:hover {
  opacity: .8;
}

.botonFiltro {
  text-align: end;
  padding: 0px 30px;
}

.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.wrap > h1 {
  color: #ffffff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 15px 0px;
}

.wrap > h1:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

.store-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18%;
}

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #2b2c2c;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.category_list .ct_item-active {
  background: #e98e059c;
}

.products-list {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list .product-item {
  width: 22%;
  margin-left: 3%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 30px;
  margin-top: 40px;
}

.footerTexto {
  text-align: center;
  margin-bottom: 20px;
}

.media {
  font-size: 50px;
  margin: auto;
}

.copy {
  background-color: #2b2c2c;
  margin-top: 20px;
  height: 100px;
}

.copy p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  color: #808080;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.icon {
  width: 60px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  -webkit-transition-property: outline-offset, outline-color, background-color;
  transition-property: outline-offset, outline-color, background-color;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover i {
  -webkit-animation: shake .25s;
          animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.contenedorImpresion3d {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
}

.texto {
  text-align: justify;
  margin-right: 10px;
  margin-left: 20px;
}

.textoImpresion3d {
  text-align: justify;
  margin: 0px 10px 50px 20px;
}

.nav ul.nav-menu.show {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.tipos3ds {
  width: 250px;
  height: 250px;
}

.contenedorFotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.tiposDeImpresoras {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tipos-de-impresoras {
  background: url(../img/tipodeimpresora.jpeg) no-repeat center center/cover;
  height: 250px;
  margin: 5px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 10px;
}

.tipos-de-impresoras__div {
  margin: 0 0 50px 25px;
}

.texto-impresoras {
  background-color: #000000;
  display: inline;
}

.texto-impresoras__p {
  background-color: #000000;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #B70E21;
}

.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #e48e0d;
}

.contact-form form button {
  background: #e48e0d;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #f5b33a;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.mapa {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  font-size: 1.5rem;
  display: none;
}

body {
  background-color: #444242;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: .5px;
}

/*MEDIAS QUERY*/
@media (max-width: 1200px) {
  .piezaFilamento {
    width: 442px;
    height: 216px;
    padding: 10px;
    margin: 0px auto;
  }
  .imagencita {
    text-align: center;
  }
  .contenedorImpresion3d {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .botonFiltro {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}

@media (max-width: 992px) {
  .imagencita {
    text-align: center;
  }
  .parrafoPiezas {
    padding: 10px;
    text-align: center;
    line-height: 2;
  }
  .contenedorImpresion3d {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
  }
  .category_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .category_list .category_item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }
  .products-list .product-item {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 0px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 865px) {
  .nav ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    /*-5*/
    padding: 30px;
    opacity: .9;
    background-color: #4d4c4c;
    z-index: 3;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .logo {
    margin-top: -15px;
  }
  .menu-btn {
    margin: 5px;
    display: block;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .contenedorImpresion3d {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .texto {
    width: 95%;
    text-align: justify;
  }
  .video-youtube {
    width: 500px;
    height: 300px;
  }
  .form {
    margin: auto;
    width: 600px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .imagencita {
    text-align: center;
  }
  .parrafoPiezas {
    padding: 10px;
    text-align: center;
    line-height: 2;
    margin-left: 60px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .category_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
  }
  .content {
    max-width: 1100px;
    width: 90%;
    margin: auto;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .form {
    width: 100vw;
  }
  .products-list .product-item {
    width: 47.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(2n+1) {
    margin-left: 0px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 574px) {
  .cardPosition {
    margin-left: 140px;
  }
}

@media (max-width: 528px) {
  .nav ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    /*-25*/
    padding: 20px;
    opacity: .9;
    background-color: #4d4c4c;
    z-index: 3;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .logo {
    margin-top: -20px;
  }
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .cardPosition {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
  }
  .contenedorImpresion3d {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .texto {
    width: 95%;
    padding: 15px;
    text-align: justify;
  }
  .video-youtube {
    width: 300px;
    height: 300px;
  }
  .imgCarrousel {
    width: 300px;
    height: 300px;
  }
  .footer {
    margin-top: 30px;
  }
  .form {
    margin: auto;
    width: 400px;
  }
  .imagencita {
    text-align: center;
  }
  .tituloPiezas {
    margin: 50px 0 0 10px;
    text-align: center;
    text-decoration: underline;
  }
}

@media (max-width: 515px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .contenedorFotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .tipos3ds {
    margin: auto;
    padding: 40px;
    height: 400px;
    width: 400px;
  }
  .botonForm {
    margin-bottom: 20px;
  }
  .imagencita {
    text-align: center;
  }
  .footer {
    margin-top: 30px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 454px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .imagencita {
    text-align: center;
  }
  .piezaFilamento {
    width: 295px;
    height: 144px;
  }
  .parrafoPiezas {
    padding: 10px;
    text-align: center;
    line-height: 2;
    margin-left: 35px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .texto {
    width: 320px;
    margin: auto;
  }
  .tipos3ds {
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .piezasImpresas {
    margin-top: 20px;
  }
  .imagencita {
    text-align: center;
  }
  .piezaFilamento {
    width: 295px;
    height: 144px;
  }
  .parrafoPiezas {
    padding: 10px;
    text-align: center;
    line-height: 2;
    margin-left: 30px;
  }
  .imgCarrousel {
    height: 200px;
    width: 200px;
  }
  .footer {
    margin-top: 30px;
  }
  .form {
    width: 320px;
  }
  .botonForm {
    margin-right: 90px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
  .menu-btn {
    margin: 5px;
  }
  .btn-search {
    margin: 5px 60px;
  }
  .form {
    width: 300px;
  }
  .botonForm {
    margin: 20px;
  }
  .piezaFilamento {
    width: 294px;
    height: 144px;
    margin: 0;
  }
  .parrafoPiezas {
    padding: 10px;
    text-align: center;
    line-height: 2;
    margin-left: 30px;
  }
  .footer {
    margin-top: 30px;
  }
  .cardPosition {
    margin-bottom: 10px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container form {
  padding: 20px;
  width: 700px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #444242;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000000;
}

.container form .row .col .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  -webkit-filter: drop-shadow(0 0 1px #000000);
          filter: drop-shadow(0 0 1px #000000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #808080;
  color: #ffffff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #444242;
}

.span {
  color: #444242;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=estilos.css.map */