.imgCursos{
	width: 286px;
	height: 286px;
	padding: 10px;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.products-list{
	display: grid;
	grid-template-columns: 285px 285px 285px;
	gap:16px;
}

.tituloCurso{
	color: $negro;
	text-align: center;
	font-size: 17px;
}

.precioCurso{
	color: $negro;
	text-align: center;
	font-weight: bolder;
}
.botonCompra{
	margin: 15px 0;
	padding: 8px;
	border-radius: 10px;
	background-color: $fondoCard;
	width: 200px;
	border: solid 1px $fondoCard;
	font-weight: bolder;
}

.botonCompra:hover{
	background-color: $bordeForm;
}
.product-item{
	background-color: $texto;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: $footerColor;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #e98e059c;
}

