.contenedorImpresion3d{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.textoImpresion3d{
    text-align: justify;
    margin: 0px 10px 50px 20px;
}

.tiposDeImpresoras{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.texto{
    text-align: justify;
    margin-right: 10px;
    margin-left: 20px;
}

.tipos3ds{
    width: 250px;
    height: 250px;
}
.contenedorFotos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
