.seccion-primera{
    height: 550px;
    background: url(../img/impresion3d.jpeg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.text-color{
    background-color: $negro;
    text-align: center;
}

.buttonInicio{
    color: $texto;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 10px;
    background-color: $negro
}

.buttonInicio:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}


.tarjetasIndex{
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 10px 0;
}
.tarjetasImg{
    border: solid 1px $negro;
    border-radius: 20px;
}
.contenidoCard{
    background-color: $fondoCard;
    padding: 10px;
    border-radius: 0 0 20px 20px; 
}

.imgCard{
    border-radius: 20px 20px 0 0;
}

.buttonCard{
    color: $texto;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 10px;
    background-color: $negro
}

.buttonCard:hover{
    box-shadow:
        0 0 15px $fondoCard,
        0 0 15px $negro;
}
