@mixin global{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

@mixin estiloCard{
        text-align: center;
        font-weight: bold;
}

@mixin form{
    text-align: center;
    margin: 0 0 1rem 0;
}