.carrousel{
    width: 70%;
}
.piezasImpresas{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
.parrafoPiezas{
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 2;
}
.hr{
    width: 90%; 
    margin:20px auto;
}
.linkForm{
    text-decoration: underline;
    color: $formColor;
}

.linkForm:hover{
    color: $formHover;
}

.tituloPiezas{
    text-align: center;
}

.piezaFilamento{
    height: 287px;
}

.tituloPiezas3{
    text-align: center;
}

.tituloPiezas2{
    text-align: center;
}
