.seccion-primera{
    height: 550px;
    background: url(../img/impresion3d.jpeg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.text-color{
    background-color: $negro;
    text-align: center;
}

.buttonInicio{
    color: $texto;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 10px;
    background-color: $negro
}

.buttonInicio:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}